<h1>Register with us</h1>

<% form_for(@cause) do |f| %>
  <%= f.error_messages :header_message => 'Could not register you', :message => '' %>
  <p>
    <%= f.label :title, 'What is the name of your charity?' %><br />
    <%= f.text_field :title %>
  </p>
  <p>
	
  <p class="dev">
	...more to come
  </p>
  <p>
    <%= f.submit 'Register' %>
  </p>
<% end %>
