<h1 id="cause-title">
  <%=h @cause.title %>
</h1>

<div id="cause">
  <%=simple_format (h(@cause.description) << edit_link) %>
</p>

<div class="hr">
	<hr />
</div>

<div id="items">
	<%#= render @cause.items %>
</div>