<h3>
	Like this?  
	<%= link_to 'Sell an item for it!', new_cause_item_path(:cause_id => params[:id]) %>
</h3>

<h1 id="cause-title">
	<%=h @cause.title %>
</h1>

<div id="description">
	<%= simple_format h(@cause.description) %>
	<% if owner? && @cause.description.blank? %><p>Add a description</p><% end %>
</div>

<div class="hr">
	<hr />
</div>

<div id="items">
	<%= render @cause.items %>
</div>
