<div class="item">
	<p class="cost">
		<span class="amount">&pound;<%=h item.price %></span> 
		<span class="donated">&pound;<%=h item.donation %> dontated</span>
	</p>
	<h3><%=link_to h(item.title), item %></h3>
	<div class="description">
		<%= simple_format h(truncate(item.description, :length => 60)) %>
	</div>
</div>