<h3>Items for sale</h3>


<ul class="index">
<% @items.each do |item| %>
	<li>
		<%= link_to  h(item.title), item %>
		<span class="for">
			for <%= link_to item.cause.title, item.cause %>
		</span>
	</li>
<% end %>
</ul>

