	<div id="home">
		<h2>Charities</h2>
		<p>
			<a href="/causes/new">Register</a> with us so that people can sell their stuff for your good cause
		</p>
		<h2>Everyone</h2>
		<p>
			Get Involved!
		</p>
		<ul>
			<li>
				<a href="/items/new">Sell</a> stuff
			</li>
			<li>
				<a href="/items">Find</a> something new
			</li>
		</ul>
	</div>