<div id="beta-area">
	<h2>
		Private Beta
	</h2>
	<p>
		We've still got a bit of work to do on this part of the site before it's ready for the big bad world; so for now it's only available to hand picked beta users.
	</p>
	<p>
		If you'd like to become a beta user - then <em>please</em> get in touch. We'll double check that you're awesome, then let you in.
	</p>
	<p>
		<small>
			p.s.  If you are on the beta already - then log in up top, then hit refresh.
		</small>
	</p>
</div>