<% if UserSession.find %>	
	<%= render :partial => 'user', :object => UserSession.find.user %>
<% else %>
	<div id="auth">
		<h2>
			<a href="#login"  id="login_link">Login</a> / 
			<a href="#signup" id="signup_link">Signup</a>
		</h2>
		<div id="login">
			<%= render 'user_sessions/new' %>
		</div>
		<div id="signup">
			<%= render 'users/new' %>
		</div>
	</div>
<% end %>